.test_data/
dist/
*.egg-info/
.coverage.*
__pycache__/
.pytest_cache/

# Docs
docs/_build/
bfb_delivery*.rst
docs/modules.rst
docs/**/*.pickle

# Env
.env*

# Workflows
.github/workflows/CI_CD_act.yml